**/eigen-3.4.0/
**/Clp-releases.1.17.10-x86_64-w64-mingw64/
**/.vs/
/helloMaya/helloMaya/x64/
**/helloMaya.mll
/helloMaya/helloMaya/x64/Debug/generateGrammar.obj
/helloMaya/helloMaya/x64/Debug/generateModels.obj
/helloMaya/helloMaya/x64/Debug/graph.obj
/helloMaya/helloMaya/x64/Debug/helloMaya.Build.CppClean.log
/helloMaya/helloMaya/x64/Debug/helloMaya.ilk
/helloMaya/helloMaya/x64/Debug/helloMaya.log
/helloMaya/helloMaya/x64/Debug/helloMaya.mll.recipe
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/CL.command.1.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/Cl.items.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/CL.read.1.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/CL.write.1.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/helloMaya.lastbuildstate
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/link.command.1.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/link.read.1.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/link.secondary.1.tlog
/helloMaya/helloMaya/x64/Debug/helloMaya.tlog/link.write.1.tlog
/helloMaya/helloMaya/x64/Debug/hello_maya.obj
/helloMaya/helloMaya/x64/Debug/jsonreader.obj
/helloMaya/helloMaya/x64/Debug/LoadMesh.obj
/helloMaya/helloMaya/x64/Debug/primitive.obj
/helloMaya/helloMaya/x64/Debug/utils.obj
/helloMaya/helloMaya/x64/Debug/vc143.idb
/helloMaya/helloMaya/x64/Debug/vc143.pdb
/helloMaya/x64/Debug/helloMaya.exp
/helloMaya/x64/Debug/helloMaya.lib
/helloMaya/x64/Debug/helloMaya.mll
/helloMaya/x64/Debug/helloMaya.pdb
# Ignore Visual Studio files
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
